.article {
  width: 60%;
  margin: auto;
}
.cart p {
    font-weight: bold;
    position: relative;
    top:10px;
    text-transform: capitalize;
}
  
  .cart_box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
  }

  
  .total {
    display: flex;
    justify-content: space-between;
  }
  
  .total span:nth-child(1) {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .total span:nth-child(2) {
    font-size: 2rem;
    color: #ffff;
    font-weight: bold;
  }