.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .form label {
    margin-bottom: 0.5rem;
    font-size: 'Century Gothic';
    position: relative;
    top:10px;
  }
  
  .form .data {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .form .data .sdata1, .form .data .sdata2 {
    width: 50%;
    margin:10px;
  }

 .form .data select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}
  .form .data select.inputError{
    border-bottom: 2px solid red;
  }
  .form .target {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .form .target .radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 480px;
  }
  .form .target .radio div {
    display: flex;
    align-items: center;
    margin-right: 1rem;

  }
  
  
  .form button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
  }
  
  .form button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .ssdata{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-direction: row;
    width: 600px;
  }
.ssd1,
.ssd2 {
    margin: 10px;
    width: 50%;
  }
  
.form input[type="text"],
.form input[type="number"],
.form input[type="email"],
.form input[type="tel"]
 {
   display: block;
   width: 100%;
   margin-bottom: 1rem;
   border: none;
   border-bottom: 2px solid #ccc;
   outline: none;
    
}
.form input[type="tel"]{
  height: 40px;
  padding: 0.5rem;
}
.checkbox{
  display:inline;
  font-size: 20px;
  margin-bottom: 10px;
}
.checkbox label{
  display: inline;
  font-size: 15px;
  margin-right: 10px;
  position: relative;
  top:-2px;
}
.form input[type='number']::-webkit-inner-spin-button,
.form input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.divn{
  width: 280px;
  height: 15px;
  color:red;
  display: block;
  position: relative;
  top:-15px;
  font-size: 14px;
}

.form input[type="text"].inputError,
.form input[type="number"].inputError,
.form input[type="email"].inputError,
.form input[type="tel"].inputError
{
  border-color:red;
}

.form input:focus{
  border-color:blue;
}

.form .target .radio input[type="radio"] {
  margin-right: 1rem
}













@media (max-width:900px) {
  .form {
    width: 80%
  }
}