.form{
  display: flex;
  width: 50%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  flex-direction: column;
}


.form input[type="text"],
.form input[type="date"],
.form input[type="tel"] {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;

}

.form .data {
  display: flex;
  flex-direction:column;
  width: 100%;
  justify-content: center;
}
.form .data .sdata1, .form .data .sdata2, .form .data .sdata3 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form .data .sdata1  .ssdata1, .form .data .sdata2 .ssdata2, .form .data .sdata3 .ssdata3{
  width: 40%;
  margin: 0px 10px;
}
/* .form label {
  display: block;
  font-size: 'Century Gothic';
} */
.target{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form input[type="file"]{
  display: none;
}
.form button[type="submit"],
.form button[type="button"]  {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}
.form button[type="submit"]:hover {
  background-color: #45a049;
}

.textarea{
  resize: none;
  width:80%;
  padding: 10px;
  border: 2px solid #4cd137;
  margin: auto;
  border-radius: 5px;
  outline: none;
}
.data2{
  display: none;
  flex-direction: column;
  justify-content: center;
}
.present{
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.sec{
  display: flex;
  justify-content: center;
}

.btns{
  display: flex;
  justify-content: center;
}

.btns button[type="submit"],
.btns button[type="button"] {
  width: 50%;
}

.form input[type="text"].inputError,
.form input[type="number"].inputError,
.form input[type="email"].inputError,
.form input[type="tel"].inputError
{
  border-color:red;
}
.form input:focus{
  border-color:green;
}
.divn{
  width: 280px;
  height: 15px;
  color:red;
  display: block;
  position: relative;
  top:-15px;
  font-size: 14px;
}
.preview{
  padding:5px;
  width: 300px;
  height: 150px;
  border: 2px solid #ccc;
  cursor: pointer;
}
.labelError ~ .preview{
  border: 2px solid red;
}

.textareaError{
  border: 2px solid red;
}

.form .data2 select.selectError{
  border-color: red;
}

.preview:hover{
  background-color: rgba(178, 190, 195,0.5);
}