.slider{
    position: relative;
    background-color: #000116;
    font-family: 'Open Sans', sans-serif;
    width:100%;
    overflow: hidden;
    box-sizing: border-box;
    flex:2;
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
} 

.slide > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;

}

.slide > div{
    position:absolute;
    color:#222;
    margin-top: 30px;
    margin-left: 10px;
}

.slide > div p{
    color:#fff;
    font-family: 'Century Gothic', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 15px 15px 30px black;
}

.navigation{
    display: flex;
    position: relative;
    top:50%;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation{
    opacity: 1;
}


.left, .right{
    z-index: 999;
    font-size: 2.5em;
    color:#000116;
    color:#222;
    background-color: rgba(255,255,255,0.8);
    padding:10px;
    cursor: pointer;
    margin: 20px;
}
.right{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.left{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigationVisibility{
    z-index: 999;
    transform: translateY(350px);
    align-items: flex-start;
    display: flex;
    justify-content: center;

}

.navigationVisibility .slideIcon{
    z-index: 999;
    background-color: rgba(255,255,255,0.5);
    width: 20px;
    height: 10px;
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.slideIcon.active{
    background-color: #3c40c6;
}


@media (max-width: 900px) {
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .ul {
      display: none;
    }
  
    .nav button {
      display: block;
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      margin-top: 20px;
    }
  
    .nav button:hover {
      background-color: #444;
    }
  
    .nav.active .ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }