.footer{
    display: flex;
    padding: 15px;
    background-color: #dfe6e9;
    width: 100%;
    
}
.poster{
    width:400px;
    height:300px;
    border:1px solid black;
}
.page{
    display: grid;
    flex-direction: column;
    margin: 20px 30px 20px 20px;
    padding: 10px;
}
.sous_page1, .sous_page2, .sous_page3{
    text-align: justify;
    width: 100%;

}

.page  img{
    float: left;
    margin-right:20px;
}

@media (max-width: 900px) {
    .poster{
        display: none;
    }

    .divText1, .divText2, .divText3{
        text-align: justify;
        width: 100%;
        font-size: 13px;
        word-spacing: 2px;
        margin:20px 0px;
    }

}